/*The URL for my website is: ConnorBritton.github.io*/

body{       
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;   
}

.flex{
    display: flex;
}

.flex-middle{
    align-items: center;
}

.container{
    margin: 0 auto;
}

#header{
    background-color: #111836;
    color: white;
}

#header span{
    flex-grow: 1;
}

.nav{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav li a{
    display: block;
    padding: 36px 25px;
    color: white;
    font-size: 22px;
    text-decoration: none;
}

.nav li a:hover{
    background-color: #c6d3e4;
    color: #111836;
}

#nav_image{
    max-width: 70px;
    max-height: 70px;
    margin: 10px 0;
}

#home_celebration_image{    
    max-width: 500px;
}

#banner{
    background-color: #c6d3e4;
    color: #111836;
    font-style: italic;
    font-variant: small-caps;
}

#banner h1{
    font-size: 50px;
    margin: 10px 0;
    text-align: center;
}

#page_content{
    padding: 20px;
}

.row{
    display: grid;
    grid-template-columns: 150 150 150;
    color: #111836;
    font-size: 30px;
    font-weight: bold;
}

.row .col{
    padding: 10px;
}

table{
    background-color: #c6d3e4;
    font-size: 25px;
    color: #111836;
    width: 100%;
}

th{
    font-size: 36px;
    font-variant: small-caps;
}

th, td{
    padding: 5px;
}

.player_image{
    display: block;
    margin: auto;
    max-width: 200px;
}

.stadium_image{
    padding: 20px;
    display: block;
    margin: auto;
    max-width: 900px;
}

.stadium_text{
    padding: 20px;
    margin: auto;
    max-width: 900px;
    background-color: #c6d3e4;
    color: #111836;
    font-style: italic;
}

#about_list{
    margin: auto;
    max-width: 900px;
    list-style: none;
    padding: auto;
}

.about_text{
    padding: 20px;
    margin: 20px auto;    
    background-color: #c6d3e4;
    color: #111836;
    font-style: italic;
    font-size: 20px;
}

#about_image{
    /* padding: 20px; */
    display: block;
    margin: auto;
    max-width: 320px;
}

#footer{
    margin-top: auto;
    background-color: #c6d3e4;
    color: white;
    padding: 8px 0;
}