body{
    background-color: #111836;
}
h1{
    color: #FFFFFF;
}
p{
    text-align: center;
    font-size: 20px;
}
#box{
    height: 200px;
    width: 200px;
    border: 1px solid #FFFFFF;
    padding-left: 20px;
    margin: 40px;
    color: #FFFFFF;
}
#page_title{
    text-decoration: underline;
}
.content{
    border: 1px solid black;
}